* {
    margin: 0;
    padding: 0;
    border: 0 none;
}

html,
body,
#window {
    width: 100%;
    height: 100%;
    background-color: black;
}

#header-frame {
    width: 100%;
    height: 40px;
    background-color: black;
}

#header {
    width: 100%;
    line-height: 0;
    /* hide scrollbar */
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cp_iptxt input[type='text'] {
    font-size: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 1px padding: 0.1em;
    transition: 0.2s;
    letter-spacing: 1px;
    color: #000;
    border: 2px solid aliceblue;
    border-radius: 2px;
}

label.ef {
    width: 100%;
    height: 0px;
}

label.ef input[type='text']:focus {
    border: 1px solid #da3c41;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(60, 218, 65, 0.75);
    margin: 2px;
    border: 1px solid darkgrey;
    width: calc(100% - 2px);
}

#button-container {
    background-color: black;
    text-align: center;
    line-height: 2.3;
}

#view-container {
    width: 100%;
    height: calc(100% - 22pt);
    overflow: scroll;
}

#view {
    width: 100%;
    height: 100%;
    /* hide scrollbar */
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
