* {
    margin: 0;
    padding: 0;
    border: 0 none;
}

html,
body,
#window {
    width: 100%;
    height: 100%;
}

#header-frame {
    width: 100%;
    height: 18pt;
}

#header {
    width: 100%;
    background-color: black;
}

.cp_iptxt {
    position: relative;
    border: 2px solid darkgrey;
    width: calc(100% - 2px);
}

.cp_iptxt input[type='text'] {
    box-sizing: border-box;
    width: 100%;
    margin: 1px padding: 0.1em;
    transition: 0.2s;
    letter-spacing: 1px;
    color: #000;
    border: 2px solid aliceblue;
    border-radius: 2px;
}

.ef input[type='text']:focus {
    border: 1px solid #da3c41;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(60, 218, 65, 0.75);
    margin: 2px;
    border: 1px solid darkgrey;
    width: calc(100% - 2px);
}

#button-container {
    background-color: black;
    text-align: center;
}

#view-container {
    background-color: black;
    width: 100%;
    height: calc(100% - 22pt);
}

#view {
    width: 100%;
    height: 100%;
}
